@import '../../../styles.scss';
$primary-color: map-get($ECommerce-WebLab-primary, 500);

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card {
  max-width: 400px;
  text-align: center;
  padding: 32px;
  border-radius: 30px;
  // Aquí se aplica el color de fondo de la tarjeta
  background-color: $primary-color;
}

.full-width-input {
  width: 100%;
  margin-bottom: 16px;
}
